@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutDashboard";
}

<div class=" row">
    <div class="greeting">
        <h2>Good Morning Champ!</h2>
        <p>Time to seize the day 🌞</p>
    </div>
    <div class="card_bg col-md-12 ">
       
        <div class=" row">

            <div class="col-md-4">
                <div class="card_weather 1st_card">
                    <div class="card-content">
                        <div class="location text-center">London</div>
                        <h1 class="degree">20<sup>o</sup> </h1>
                        <p class="weather-status">Thunder</p>
                    </div>
                    <div class="card-image">
                        <img src="https://i.ibb.co/GtWcGNW/cloud.png" alt="cloud" border="0">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card_weather 2nd_card">
                    <div class="card-content">
                        <p class="location">Italy</p>
                        <h1 class="degree">18<sup>o</sup> </h1>
                        <p class="weather-status">Rain</p>

                    </div>
                    <div class="card-image">
                        <img src="https://i.ibb.co/h7Tn2P8/rain.png" alt="rain" border="0">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card_weather 3rd_card">
                    <div class="card-content">
                        <p class="location">Singapore</p>
                        <h1 class="degree">32<sup>o</sup> </h1>
                        <p class="weather-status">Wind</p>

                    </div>
                    <div class="card-image">
                        <img src="https://i.ibb.co/30tJCSC/wind.png" alt="wind" border="0">
                    </div>
                </div>
            </div>

        </div>



    </div>
</div>







<section class="card-row mt-2">
    <div class="row">
        <div class="col-md-4">
            <article class="card">
                <img src="https://images.unsplash.com/photo-1463797221720-6b07e6426c24?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="exposed brick wall in a hipster cafe">
                <h3 class="m-5">My local hipster cafe</h3>
                <p class="m-5">My local cafe. I highly recommend a visit to the local hipster cafe, Two Slopes. Even though over 50's aren't the target demographic of this exposed-brick wonderland, the excellent coffee, friendly staff, and quiet, laid-back music, make it an excellent choice.</p>
            </article>
        </div>
        <div class="col-md-4">
            <article class="card">
                <img src="https://images.unsplash.com/photo-1463797221720-6b07e6426c24?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="exposed brick wall in a hipster cafe">
                <h3 class="m-5">A good choice of cafe</h3>
                <p class="m-5">A good choice of cafe. I highly recommend a visit to the local hipster cafe, Two Slopes. You can find this cafe on the corner of Short St and Cracknell St. They have a book exchange in the corner of the shop which you can use</p>
            </article>
        </div>
        <div class="col-md-4">
            <article class="card">
                <img src="https://images.unsplash.com/photo-1463797221720-6b07e6426c24?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="exposed brick wall in a hipster cafe">
                <h3 class="m-5">Another great cafe</h3>
                <p class="m-5">Another cafe. I highly recommend a visit to the resident Annerley hipster cafe, Two Slopes. They also take tea very seriously, with a wide range of teas imported from China served in a generous teapot.</p>
            </article>
        </div>
    </div>
</section> 
    
@section Scripts{
    <script>
		 $(document).ready(function () {
		// 	const options = {
		// 	enableHighAccuracy: true,
		// 	timeout: 3000,
		// 	maximumAge: 20000
		// };
			// navigator.geolocation.getCurrentPosition(success, errorCallback, options);
			// navigator.geolocation.getCurrentPosition(success, error,);

			if (navigator.geolocation) {
				//the browser supports geolocation and permission was given
				navigator.geolocation.getCurrentPosition(
					function (position) {
						let userposition = {
							lat: position.coords.latitude,
							lng: position.coords.longitude,
							alt: position.coords.altitude,
							acc: position.coords.accuracy
						};
						console.log(`You are currently at ${userposition.lat} by ${userposition.lng} alt ${userposition.alt} acc ${userposition.acc}`);
								success(userposition.lat,userposition.lng )
					},
					//the browser supports geolocation but they denied permission
					function () {
						alert("You didn't give us permission to use your location.Please make sure Location Access is enabled in your browser and on your device");
					},
					// options
				);
			} else {
				alert("I'm sorry. Your broswer doesn't support our method of gathering your location.");
			}


	

		function errorCallback(error) {
			alert("Please make sure Location Access is enabled in your browser!");
			// consoleconsole.warn(`ERROR(${err.code}): ${err.message}`);
		}

		function success(latitude,longitude ) {


			console.log(latitude,longitude);

			$.get("@Url.Action("GetWeatherData", "Home")", {latitude: latitude, longitude: longitude }, function (response) {
					console.log(response)
					if (response.success) {
                        console.log(response.properties)
						alert(response.message);
						window.location.href = "/dashboard"; // Navigate to dashboard manually
					} else {
						alert("Error: " + response.message);
					}
				}).fail(function (jqXHR, textStatus, errorThrown) {
					alert("AJAX error: " + textStatus + " - " + errorThrown);
				});

		}
		});
	
    </script>
}