@{
    ViewData["Title"] = "Home Page";
}


<div class="center row">
    <div class="col-md-6">
        <div class="title">Welcome to Her<span style="color:#49AA97;">Climate</span></div>
        <div class="sub_title">Growing Futures,<br/> Harvesting Success</div>
        <div class="btns mt-5 p-3">
            <button>Visitor Dashboard</button>
            <button>Login</button>
        </div>
    </div>
    <div class="col-md-6 ">
       <img src="~/images/happy_women.jpg" height="100%" width="100%"/>
   </div>
</div>
