@{
    ViewData["Title"] = "Home Page";
}


<div class="center row">
    <div class="col-md-6">
        <div class="title">Welcome to HerClimate</div>
        <div class="sub_title">Growing Futures,<br/> Harvesting Success</div>
        <div class="btns">
            <button>Visitor Dasboard</button>
            <button>Login</button>
        </div>
    </div>
    <div class="col-md-6">
       <img src=""/>
   </div>
</div>
