@model WorkingWomenApp.Database.DTOs.UserDtos.LoginDto
@{}

<div class="col-md-4 offset-md-4 mt-3">
<div class="login-card">
    <div class="brand">
      
        <h1>Login</h1>
        <p>Enter your credentials to access your account</p>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form id="loginForm" method="post">
        <div class="form-group">
            <label  asp-for="Email">Email</label>
                <input asp-for="Email" type="email" id="form2Example17" class="form-control form-control-lg" />
            @* <input type="email"
                       class="form-control"
                       name="Email"
                       id="Email"
                   placeholder="name@company.com"
                   autocomplete="email"> *@
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
                <label for="Password" asp-for="Password">Password</label>
            <input type="password"
                       asp-for="Password"
                       class="form-control"
                   placeholder="Enter your password"
                   autocomplete="current-password">
                <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="remember-forgot">
            <div class="remember-me">
                <input type="checkbox" id="remember">
                <label for="remember">Remember me</label>
            </div>
            <a href="#" class="forgot-password">Forgot password?</a>
        </div>


            <div class="d-grid gap-2  mx-auto">
                <button type="submit" class=" btn login-btn">
                    Login
                </button>
            </div>


           
    </form>



    <div class="signup-link">
            <p>Don't have an account? <a asp-controller="Account" asp-action="SignUp">Sign up</a></p>
    </div>
</div>
</div>