@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutDashboard";
}

<div class="col-md-12">
    <a asp-controller="Climate" asp-action="Details" name="add" id="add" class="btn btn-primary btn-lg">Add Article</a>
</div>
<section class="articles mt-2">
  
    
    <div class="wrapper flow">
        <header>
            <h2 class="section__title">Recently Published</h2>
        </header>
        <article class="article flow">
            <h3 class="article__title">Data Binding in React</h3>
            <p class="article__description">As developers, we don't like working with forms, but they're a critical part of most web applications! In this tutorial, you'll learn exactly how to wire up all of the different form controls in React. Never forget how to data-bind a checkbox or radio button again!</p>
            <a href="#" class="article__cta">Read more</a>
        </article>
        <article class="article flow">
            <h3 class="article__title">Color Formats in CSS</h3>
            <p class="article__description">CSS gives us so many options when it comes to expressing color—we can use hex codes, rgb, hsl, and more. Which option should we choose? This turns out to be a surprisingly important decision! In this article, we'll take a tour of color formats in CSS, and see which option will serve us best.</p>
            <a href="#" class="article__cta">Read more</a>
        </article>
        <article class="article flow">
            <h3 class="article__title">An Interactive Guide to Flexbox</h3>
            <p class="article__description">When we truly learn the secrets of the Flexbox layout mode, we can build absolutely incredible things. Fluid layouts that stretch and shrink without arbitrary breakpoints. In this action-packed interactive tutorial, we'll pop the hood on the Flexbox algorithm and learn how to do remarkable things with it. ✨</p>
            <a href="#" class="article__cta">Read more</a>
        </article>
        <article class="article flow">
            <h3 class="article__title">A World-Class Code Playground with Sandpack</h3>
            <p class="article__description">No developer blog or technical documentation site is complete without an interactive code playground. The CodeSandbox team recently released a wonderful tool called Sandpack, to help us create these live-updating code editors. In this tutorial, I'll show you how I use it on this blog.</p>
            <a href="#" class="article__cta">Read more</a>
        </article>
        <article class="article flow">
            <h3 class="article__title">Understanding useMemo and useCallback</h3>
            <p class="article__description">What's the deal with these two hooks?! Lots of devs find them confusing, for a whole host of reasons. In this tutorial, we'll dig deep and understand what they do, why they're useful, and how to get the most out of them.</p>
            <a href="#" class="article__cta">Read more</a>
        </article>
    </div>
</section>