<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HerClimate</title>
 
</head>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
       Working Women App
    </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
   
    <link rel="stylesheet" href="~/WorkingWomenApp.styles.css" asp-append-version="true" />
    <link rel="shortcut icon"
          href="~/assets/images/favicon.png"
          type="image/x-icon" />
 @*    <link rel="stylesheet" href="~/css/assets/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/css/assets/css/animate.css" />
    <link rel="stylesheet" href="~/css/src/input.css" />
    <link rel="stylesheet" href="~/css/src/css/tailwind.css" /> *@
    <link rel="stylesheet" href="~/css/style.css">
    @* <link rel="stylesheet" href="~/css/site.css"> *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Bitter' rel='stylesheet'>

</head>
<body>
<div class="all">
<!-- ====== Navbar Section Start -->
<nav class="side-nav">
    <div class="logo">
        <a href="#">Her<span style="color:#49AA97;">Climate</span></a>
    </div>
    <ul class="nav-menu">
        <li class="nav-item"><a href="#"><i class="fas fa-tachometer-alt"></i><span class="menu-text">Dashboard</span></a></li>
        <li class="nav-item"><a href="#"><i class="fa fa-user"></i><span class="menu-text">Users</span></a></li>
        <li class="nav-item active"><a href="#"><i class="fas fa-file-alt"></i><span class="menu-text">Posts</span></a></li>
        <li class="nav-item"><a href="#"><i class="fas fa-play "></i><span class="menu-text">Media</span></a></li>
        <li class="nav-item"><a href="#"><i class="fas fa-sign-out-alt"></i><span class="menu-text">exit</span></a></li>
    </ul>
</nav>



<!-- ====== Navbar Section End -->
<div class="content">
    <div class="greeting">
        <h2>Good Morning Champ!</h2>
        <p>Time to seize the day 🌞</p>
    </div>
    <main>
    @RenderBody()
            </main>
</div>

   


    </div>
<!-- ====== Footer Section Start -->


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<script>
        $(function() {
                $("li").click(function(e) {
                  e.preventDefault();
                  $("li").removeClass("active");
                  $(this).addClass("active");
                });
            });
</script>


@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
